In [1]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName("first").getOrCreate()

In [10]:
data=spark.read.format("csv").option("header","true").load(r"taxi.csv")

In [11]:
data.show(3)

+----------+-------+--------------------+------------+
|LocationID|Borough|                Zone|service_zone|
+----------+-------+--------------------+------------+
|         1|    EWR|      Newark Airport|         EWR|
|         2| Queens|         Jamaica Bay|   Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|   Boro Zone|
+----------+-------+--------------------+------------+
only showing top 3 rows

In [14]:
filtered_df=data.filter(data['LocationID']<10)
filtered_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
+----------+-------------+--------------------+------------+

In [19]:
data.select('Borough').show(2)

+-------+
|Borough|
+-------+
|    EWR|
| Queens|
+-------+
only showing top 2 rows

In [22]:
df_dropped=data.drop('Zone').show(2)

+----------+-------+------------+
|LocationID|Borough|service_zone|
+----------+-------+------------+
|         1|    EWR|         EWR|
|         2| Queens|   Boro Zone|
+----------+-------+------------+
only showing top 2 rows

In [26]:
data.dropDuplicates()
data.dropna()

DataFrame[LocationID: string, Borough: string, Zone: string, service_zone: string]

In [49]:
data.orderBy(data['service_zone'],).show(2)

+----------+-------+-----------------+------------+
|LocationID|Borough|             Zone|service_zone|
+----------+-------+-----------------+------------+
|       132| Queens|      JFK Airport|    Airports|
|       138| Queens|LaGuardia Airport|    Airports|
+----------+-------+-----------------+------------+
only showing top 2 rows

In [31]:
df_renamed=data.withColumnRenamed('service_zone','Service')
df_renamed.show(3)

+----------+-------+--------------------+---------+
|LocationID|Borough|                Zone|  Service|
+----------+-------+--------------------+---------+
|         1|    EWR|      Newark Airport|      EWR|
|         2| Queens|         Jamaica Bay|Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|Boro Zone|
+----------+-------+--------------------+---------+
only showing top 3 rows

In [42]:
from pyspark.sql.functions import col
df_filtered3=df_renamed.filter(col('Service')=='Boro Zone')

In [43]:
df_filtered2=df_renamed.filter(df_renamed['Service']=='Boro Zone')

In [45]:
df_renamed.select('Service').show(2)

+---------+
|  Service|
+---------+
|      EWR|
|Boro Zone|
+---------+
only showing top 2 rows

df_renamed['Service']: This is a shorthand for df_renamed.col("Service") and returns a Column object.
.show(): This method is available on a DataFrame, not on a Column

In [52]:
data.withColumn('new_column',data['LocationID']*20).show(2)

+----------+-------+--------------+------------+----------+
|LocationID|Borough|          Zone|service_zone|new_column|
+----------+-------+--------------+------------+----------+
|         1|    EWR|Newark Airport|         EWR|      20.0|
|         2| Queens|   Jamaica Bay|   Boro Zone|      40.0|
+----------+-------+--------------+------------+----------+
only showing top 2 rows

In [53]:
data.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [54]:
type(data)

pyspark.sql.dataframe.DataFrame

In [55]:
data.head(3)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone')]

In [56]:
data.show(3)

+----------+-------+--------------------+------------+
|LocationID|Borough|                Zone|service_zone|
+----------+-------+--------------------+------------+
|         1|    EWR|      Newark Airport|         EWR|
|         2| Queens|         Jamaica Bay|   Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|   Boro Zone|
+----------+-------+--------------------+------------+
only showing top 3 rows

In [57]:
type(data.head(3))

list

In [58]:
type(data.show(3))

+----------+-------+--------------------+------------+
|LocationID|Borough|                Zone|service_zone|
+----------+-------+--------------------+------------+
|         1|    EWR|      Newark Airport|         EWR|
|         2| Queens|         Jamaica Bay|   Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|   Boro Zone|
+----------+-------+--------------------+------------+
only showing top 3 rows

NoneType

In [59]:
data.describe()

DataFrame[summary: string, LocationID: string, Borough: string, Zone: string, service_zone: string]

In [60]:
data.describe().show()

+-------+---------------+-------+--------------------+------------+
|summary|     LocationID|Borough|                Zone|service_zone|
+-------+---------------+-------+--------------------+------------+
|  count|            265|    265|                 265|         265|
|   mean|          133.0|   NULL|                NULL|        NULL|
| stddev|76.643112323722|   NULL|                NULL|        NULL|
|    min|              1|  Bronx|Allerton/Pelham G...|    Airports|
|    max|             99|Unknown|      Yorkville West| Yellow Zone|
+-------+---------------+-------+--------------------+------------+

In [61]:
data['LocationID']

Column<'LocationID'>

In [62]:
data.select('LocationID')

DataFrame[LocationID: string]

In [64]:
df=spark.read.csv('taxi.csv',header=True,inferSchema=True)

In [65]:
df.head(2)

[Row(LocationID=1, Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID=2, Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone')]

In [74]:
df.fillna('missing value',['service_zone','Zone'])
df=df.fillna({'service_zone':'missing value','Zone':'unknown'})

#this is used for numeric columns
from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=['service_zone','Zone'],
                outputCols=["{}_imputed".format(c) for c in ['service_zone','Zone']]).setStrategy('median')

fitted_imputer=imputer.fit(df)
frasnformed_df=fitted_imputer.transform(df)
frasnformed_df.show()

In [79]:
df.filter(df['LocationID']<=3).show()

+----------+-------+--------------------+------------+
|LocationID|Borough|                Zone|service_zone|
+----------+-------+--------------------+------------+
|         1|    EWR|      Newark Airport|         EWR|
|         2| Queens|         Jamaica Bay|   Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|   Boro Zone|
+----------+-------+--------------------+------------+

In [83]:
df.filter("LocationID<=3").select('Zone','LocationID').show()

+--------------------+----------+
|                Zone|LocationID|
+--------------------+----------+
|      Newark Airport|         1|
|         Jamaica Bay|         2|
|Allerton/Pelham G...|         3|
+--------------------+----------+

In [94]:
df.filter((df['LocationID']<3)|(df['LocationID']>250)).show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|       251|Staten Island|         Westerleigh|   Boro Zone|
|       252|       Queens|          Whitestone|   Boro Zone|
|       253|       Queens|       Willets Point|   Boro Zone|
|       254|        Bronx|Williamsbridge/Ol...|   Boro Zone|
|       255|     Brooklyn|Williamsburg (Nor...|   Boro Zone|
|       256|     Brooklyn|Williamsburg (Sou...|   Boro Zone|
|       257|     Brooklyn|     Windsor Terrace|   Boro Zone|
|       258|       Queens|           Woodhaven|   Boro Zone|
|       259|        Bronx|  Woodlawn/Wakefield|   Boro Zone|
|       260|       Queens|            Woodside|   Boro Zone|
|       261|    Manhattan|  World Trade Center| Yellow Zone|
|       262|    Manhattan|      Yorkville East| Yellow Zone|
|       263|    Manhattan|      Yorkville West| Yellow Zone|
|       264|      Unknown|                  NV|         N/A|
|       265|      Unknown|                  NA|         N/A|
+----------+-------------+--------------------+------------+

In [92]:
df.describe().show()

+-------+---------------+-------+--------------------+------------+
|summary|     LocationID|Borough|                Zone|service_zone|
+-------+---------------+-------+--------------------+------------+
|  count|            265|    265|                 265|         265|
|   mean|          133.0|   NULL|                NULL|        NULL|
| stddev|76.643112323722|   NULL|                NULL|        NULL|
|    min|              1|  Bronx|Allerton/Pelham G...|    Airports|
|    max|            265|Unknown|      Yorkville West| Yellow Zone|
+-------+---------------+-------+--------------------+------------+

In [133]:
from pyspark.sql import SparkSession
spark2=SparkSession.builder.appName('Second').getOrCreate()
df2=spark2.read.csv('test3.csv',header=True,inferSchema=True)

In [103]:

df2.show(2)

+-----+------------+------+
| Name| Departments|salary|
+-----+------------+------+
|Krish|Data Science| 10000|
|Krish|         IOT|  5000|
+-----+------------+------+
only showing top 2 rows

In [104]:
df2.describe().show()

+-------+-----+-----------+-----------------+
|summary| Name|Departments|           salary|
+-------+-----+-----------+-----------------+
|  count|   10|         10|               10|
|   mean| NULL|       NULL|           7300.0|
| stddev| NULL|       NULL|5396.500923952689|
|    min|Krish|   Big Data|             2000|
|    max|Sunny|        IOT|            20000|
+-------+-----+-----------+-----------------+

In [105]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [115]:
df2.groupby('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [112]:
from pyspark.sql.functions import sum
df2.select(sum('salary')).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [117]:
df2.groupby('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [119]:
df2.groupby('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [120]:
df2.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [121]:
df2.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [125]:
df2.agg({'salary':'avg'}).show()

+-----------+
|avg(salary)|
+-----------+
|     7300.0|
+-----------+

In [126]:
df2.agg({'salary':'count'}).show()

+-------------+
|count(salary)|
+-------------+
|           10|
+-------------+

In [127]:
df2.write.format("parquet").option("compression","snappy").save("testparquet",mode='append')

In [128]:
df2.write.format('csv').option("header","True").save("testagain",mode='append')

In [129]:
df2.write.format('json').save("testjason",mode='append')

In [144]:
df3=spark2.read.format('json').option("multiline","False").load("testjason/part-00000-40ac33da-664a-4360-a946-3e17210f3a90-c000.json")

In [142]:
df4=spark2.read.format('csv').option("multiline","True").load("testagain/part-00000-919ce4a8-8a49-4c63-b2d1-b4ef49923f9a-c000.csv")

In [145]:
df3.show()

+------------+---------+------+
| Departments|     Name|salary|
+------------+---------+------+
|Data Science|    Krish| 10000|
|         IOT|    Krish|  5000|
|    Big Data|   Mahesh|  4000|
|    Big Data|    Krish|  4000|
|Data Science|   Mahesh|  3000|
|Data Science|Sudhanshu| 20000|
|         IOT|Sudhanshu| 10000|
|    Big Data|Sudhanshu|  5000|
|Data Science|    Sunny| 10000|
|    Big Data|    Sunny|  2000|
+------------+---------+------+

In [146]:
df5=spark2.read.format('json').option("multiline","False").load("testjason/part-00000-40ac33da-664a-4360-a946-3e17210f3a90-c000.json")
df5.show()

+------------+---------+------+
| Departments|     Name|salary|
+------------+---------+------+
|Data Science|    Krish| 10000|
|         IOT|    Krish|  5000|
|    Big Data|   Mahesh|  4000|
|    Big Data|    Krish|  4000|
|Data Science|   Mahesh|  3000|
|Data Science|Sudhanshu| 20000|
|         IOT|Sudhanshu| 10000|
|    Big Data|Sudhanshu|  5000|
|Data Science|    Sunny| 10000|
|    Big Data|    Sunny|  2000|
+------------+---------+------+

In [147]:
df6=spark.read.format("parquet").load("testparquet/part-00000-b1f6b177-128e-44fe-9a50-22ba1038b721-c000.snappy.parquet")

In [148]:
df6.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [161]:

# Combine all columns into a single string column
from pyspark.sql.functions import concat_ws
df6_single_string_column = df6.select(concat_ws(',', *df6.columns).alias('text'))

df6_single_string_column.show()

+--------------------+
|                text|
+--------------------+
|Krish,Data Scienc...|
|      Krish,IOT,5000|
|Mahesh,Big Data,4000|
| Krish,Big Data,4000|
|Mahesh,Data Scien...|
|Sudhanshu,Data Sc...|
| Sudhanshu,IOT,10000|
|Sudhanshu,Big Dat...|
|Sunny,Data Scienc...|
| Sunny,Big Data,2000|
+--------------------+

In [150]:
df6.columns

['Name', 'Departments', 'salary']

In [163]:
df6_single_string_column.write.format('text').save('testtest',mode='append')

In [165]:
df7=spark2.read.format('text').load('testtest/part-00000-b6df2f9a-370a-465b-a8b5-94abe8ec527c-c000.txt')

In [166]:
df7.show()

+--------------------+
|               value|
+--------------------+
|Krish,Data Scienc...|
|      Krish,IOT,5000|
|Mahesh,Big Data,4000|
| Krish,Big Data,4000|
|Mahesh,Data Scien...|
|Sudhanshu,Data Sc...|
| Sudhanshu,IOT,10000|
|Sudhanshu,Big Dat...|
|Sunny,Data Scienc...|
| Sunny,Big Data,2000|
+--------------------+

In [169]:
df8=spark2.read.format('text').option("lineSep","\n").load('testtest/part-00000-b6df2f9a-370a-465b-a8b5-94abe8ec527c-c000.txt')

In [170]:
df8.show()

+--------------------+
|               value|
+--------------------+
|Krish,Data Scienc...|
|      Krish,IOT,5000|
|Mahesh,Big Data,4000|
| Krish,Big Data,4000|
|Mahesh,Data Scien...|
|Sudhanshu,Data Sc...|
| Sudhanshu,IOT,10000|
|Sudhanshu,Big Dat...|
|Sunny,Data Scienc...|
| Sunny,Big Data,2000|
+--------------------+

In [180]:
from pyspark.sql.functions import split
df8_split_array=df8.select(split('value',',').alias('columns'))

df8_final=df8_split_array.selectExpr("columns[0] as name","columns[1] as department","columns[2] as salary")

df8_final.show()

+---------+------------+------+
|     name|  department|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [181]:
dft=df8_final.select(df8_final['name'].alias('N'))

In [182]:
dft.show()

+---------+
|        N|
+---------+
|    Krish|
|    Krish|
|   Mahesh|
|    Krish|
|   Mahesh|
|Sudhanshu|
|Sudhanshu|
|Sudhanshu|
|    Sunny|
|    Sunny|
+---------+

In [189]:
df8_final=df8_final.withColumnRenamed('name','Name')

In [190]:
df8_final.show()

+---------+------------+------+
|     Name|  department|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+